### Required ENV vars ###

# The URL to send a user to for setting up their MFA.
# Example: https://pw.example.com/#/mfa
MFA_SETUP_URL=

# Values for the ID Broker PHP Client:
ID_BROKER_ACCESS_TOKEN=
ID_BROKER_ASSERT_VALID_IP=true
ID_BROKER_BASE_URI=
ID_BROKER_TRUSTED_IP_RANGES=

### Optional ENV vars ###
COMPOSER_AUTH=
LOGENTRIES_KEY=
SHOW_SAML_ERRORS=true
THEME_USE=material:material
XDEBUG_REMOTE_HOST=192.168.62.1

# An absolute URL the user can go to to learn more about MFA.
MFA_LEARN_MORE_URL=
